appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
Brotli
certifi
cffi
charset-normalizer
click
contourpy
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
docopt
entrypoints
executing
fastjsonschema
Flask
Flask-Compress
fonttools
greenlet
idna
importlib-metadata
importlib-resources
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mysql
mysql-connector
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pipreqs
pkgutil_resolve_name
plotly
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
redis
requests
scipy
seaborn
Send2Trash
six
soupsieve
SQLAlchemy
stack-data
tenacity
terminado
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
yarg
zipp
mysql-connector-python==8.4.0
